// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
 */

/dts-v1/;

#include "nord.dtsi"
#include "scmi-common.dtsi"

/ {
	model = "Qualcomm Technologies, Inc. nord ride";
	compatible = "qcom,nord-ride", "qcom,nord";

	aliases {
		serial0 = &uart15;
		serial1 = &uart4;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};
};

&scmi3 {
	status = "okay";
};

&scmi11 {
	status = "okay";
};

&scmi15 {
	status = "okay";
};

&sleep_clk {
	clock-frequency = <32000>;
};

&uart4 {
	status = "okay";
};

&uart15 {
	status = "okay";
};

&ufshc_mem {
	status = "okay";
};

&xo_board_clk {
	clock-frequency = <38400000>;
};
